edge-tts
pydub
fastapi
uvicorn[standard]
websockets
sqlalchemy[asyncio]
psycopg2-binary
asyncpg
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
bcrypt==3.2.0
python-multipart
celery
redis
httpx
alembic

pydantic[email]
python-dotenv
cryptography
weasyprint
mistune
